.chat-container {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  @media screen and (max-width: 768px) {
    width: 100%;
    right: 0;
    bottom: 50px;
  }
  .chat-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;
    .chat-input {
      flex: 1;
    }
  }
}
