@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.table {
    height:30vh;
    bottom:0;
    left:0;
}
.ps {
    height:100%;
}
.mockup-window {
    width: calc(100% - 2.5rem);
    height: calc(100% - 3.75rem);
    opacity: 0;
    transition: opacity 2s ease-in-out;
    &:before {
        display:none;
    }
    &.show {
        opacity: 1;
    }
    .window-header {
        height:30px;
        display:flex;
        padding:0 15px;
        & > div {
            display:flex;
            align-items: center;
            width:15px;
            height:15px;
            border-radius:15px;
            margin-right:10px;
            cursor:pointer;
            display:flex;
            justify-content: center;
            align-items: center;
            color:#000;
            font-size:12px;
            padding-bottom:1px;
        }
        .close-window {
            background:#ff5f56;
            &:hover {
                background:#ff7b73;
            }
        }
        .minimize-window {
            background:#e5b913;
            &:hover {
                background:#e5c453;
            }
        }
        .maximize-window {
            background:#00ca4e;
            &:hover {
                background:#00d85b;
            }
        }
    }
}
.welcome {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    transition: opacity 1s ease-in-out;
    &.hide {
        opacity: 0;
    }
}
.desktop {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:45px 15px;
    position: relative;
    .desktop-item {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:64px;
        cursor:pointer;
        margin-right:15px;
        .icon {
            width:100%;
            height:64px;
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
        }
        .name {
            font-size:12px;
            text-align:center;
            text-shadow: 0px 0px 2px #000;
            color:#fff;
        }
        &.item-terminal {
            .icon {
                background-image:url(../assets/img/terminal.png);
            }
        }
        &.item-game {
            .icon {
                background-image:url(../assets/img/game.svg);
            }
        }
        &.item-resume {
            .icon {
                background-image:url(../assets/img/pdf.png);
            }
        }
    }
    .desktop-dialog {
        position:absolute;
        bottom:15px;
        left:15px;
        width:50%;
        height: max-content;
        padding:25px;
        z-index: 60;
        background:rgba(0,0,0,0.9);
        text-align:left;
        color:#fff;
        border:#fff 1px solid;
        border-radius:5px;
        animation: fadein 3s;
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .close-dialog {
            width:20px;
            height:20px;
            border:#fff 1px solid;
            border-radius:50%;
            position:absolute;
            top:-10px;
            right:-10px;
            cursor:pointer;
            display:flex;
            justify-content: center;
            align-items: center;
            padding-bottom:2px;
            background: #000;
            transition: all 0.2s ease-in-out;
            &:hover {
                background:#fff;
                color:#000;
            }
        }
        .desktop-dialog__content {
            width:100%;
        }
        p {
            margin-bottom:10px;
            strong {
                color:#78a205;
                text-shadow: 0px 0px 5px #000;
            }
            a {
                border-bottom:#78a205 1px solid;
                transition: all 0.2s ease-in-out;
                &:hover {
                    border-bottom: 0;
                }
            }
        }
        ul {
            li {
                list-style-type: disc;
                list-style-position: inside;
            }
            margin-left:10px;
            margin-bottom:10px;
        }
        h3 {
            margin-bottom:10px;
            color:#78a205;
            text-shadow: 0px 0px 5px #000;
        }
    }
}
.tooltip::before {
    z-index: 99;
}
@media (max-width:1980px) {
    .table {
        height:20vh;
    }
}
@media (max-width:1560px) {
    .desktop-dialog {
        width:80% !important;
    }
}
@media (max-width:700px) {
    .desktop-dialog {
        width:calc(100% - 30px) !important;
        height: calc(100% - 62px) !important;
    }
    .window-title {
        display:none !important;
    }
}