@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.table {
    height:30vh;
    bottom:0;
    left:0;
}
.ps {
    height:100%;
}
.mockup-window {
    width: calc(100% - 2.5rem);
    height: calc(100% - 3.75rem);
    opacity: 0;
    transition: opacity 2s ease-in-out;
    &:before {
        display:none;
    }
    &.show {
        opacity: 1;
    }
    .window-header {
        height:30px;
        display:flex;
        padding:0 15px;
        & > div {
            display:flex;
            align-items: center;
            width:15px;
            height:15px;
            border-radius:15px;
            margin-right:10px;
            cursor:pointer;
            display:flex;
            justify-content: center;
            align-items: center;
            color:#000;
            font-size:12px;
            padding-bottom:1px;
        }
        .close-window {
            background:#ff5f56;
            &:hover {
                background:#ff7b73;
            }
        }
        .minimize-window {
            background:#e5b913;
            &:hover {
                background:#e5c453;
            }
        }
        .maximize-window {
            background:#00ca4e;
            &:hover {
                background:#00d85b;
            }
        }
    }
}
.welcome {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    transition: opacity 1s ease-in-out;
    &.hide {
        opacity: 0;
    }
}
.desktop {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:45px 15px;
    .desktop-item {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:64px;
        cursor:pointer;
        margin-right:15px;
        .icon {
            width:100%;
            height:64px;
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
        }
        .name {
            font-size:12px;
            text-align:center;
            text-shadow: 0px 0px 2px #000;
            color:#fff;
        }
        &.item-terminal {
            .icon {
                background-image:url(../assets/img/terminal.png);
            }
        }
        &.item-game {
            .icon {
                background-image:url(../assets/img/game.svg);
            }
        }
    }
}
.tooltip::before {
    z-index: 99;
}
@media (max-width:1980px) {
    .table {
        height:20vh;
    }
}