#monitor {
  .top-menu {
    padding-top: 5px;
    .tux {
      width: 20px;
      height: 20px;
    }
    span {
      user-select: none;
    }
    .top-menu-right {
      position: relative;
      z-index: 11;
      a {
        margin-right: 10px;
        svg {
          path {
            opacity: 0.6;
            transition: all 0.3 ease-in-out;
          }
        }
        &:hover {
          &.linkedin {
            svg path {
              opacity: 1;
              fill: #0072b1;
            }
          }
          &.github {
            svg path {
              opacity: 1;
              fill: #171515;
            }
          }
          &.facebook {
            svg path {
              opacity: 1;
              fill: #3b5998;
            }
          }
          &.email {
            svg path {
              opacity: 1;
              fill: $red;
            }
          }
        }
      }
    }
    .clock {
      user-select: none;
    }
  }
  .keyboard {
    width: 400px;
    height: auto;
    position: absolute;
    left: 50px;
    bottom: -80px;
    z-index: 30;
    transform: rotate(20deg);
    animation: flyin 1s;
    @keyframes flyin {
      from {
        bottom: -150px;
      }
      to {
        bottom: -80px;
      }
    }
  }
  .controller {
    width: 300px;
    height: auto;
    position: absolute;
    left: 50px;
    bottom: -50px;
    z-index: 30;
    animation: flyin 1s;
    @keyframes flyin {
      from {
        bottom: -150px;
      }
      to {
        bottom: -50px;
      }
    }
  }
  .cactus {
    width: 200px;
    height: auto;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: 30;
  }
  .monitor-screen {
    width: 100%;
    height: 60vh;
    margin: auto;
    overflow: hidden;
    border: 20px solid #333;
    text-align: center;
    border-radius: 20px 20px 0 0;
  }
  @media (max-width: 1980px) {
    .monitor-screen {
      height: 70vh;
    }
  }
  .monitor-screen-bottom {
    width: 100%;
    height: 60px;
    margin: auto;
    position: relative;
    border-radius: 0 0 20px 20px;
  }
  .monitor-screen-bottom .tux {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-20px);
    &:hover {
      animation: spin 3s infinite;
    }
  }
  .monitor-stand {
    width: 200px;
    height: 100px;
    background: #bab9ba;
    margin: auto;
    position: relative;
    &::before,
    &::after {
      content: '';
      background: #bab9ba;
      width: 50px;
      height: 100px;
      display: block;
      position: relative;
    }
    &::before {
      left: 81%;
      transform: skewX(10deg);
    }
    &::after {
      top: -100px;
      right: 5%;
      transform: skewX(-10deg);
    }
    .framework-switch {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      a {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #f2f2f2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        cursor: default;
        &:not(.active) {
          cursor: pointer;
          opacity: 0.5;
          &:hover {
            opacity: 1;
            transform: scale(1.1);
          }
        }
        img {
          width: 40px;
          height: auto;
          object-fit: fill;
        }
      }
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .monitor-base {
    width: 400px;
    height: 20px;
    background: #d3d3d3;
    margin: auto;
  }
  .aichar-canvas {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    cursor: pointer;
  }
}

@keyframes spin {
  from {
    transform: translateX(-20px) rotate(0deg);
  }
  to {
    transform: translateX(-20px) rotate(360deg);
  }
}
@media (max-width: 700px) {
  .cactus,
  .controller,
  .keyboard,
  .monitor-base,
  .monitor-stand {
    display: none !important;
  }
  .monitor-screen {
    height: 90vh !important;
  }
}
