@import './base.css';
@import './variables.scss';
@import './partials/layout.scss';
@import './partials/monitor.scss';
@import './partials/terminal.scss';
@import './partials/markdown.scss';
@import './partials/game.scss';
@import './partials/resume.scss';
@import './partials/contact.scss';
@import './partials/companion.scss';
@import './partials/blog.scss';
